==
<?
	function onStart() {
		$this['show_images'] = $this['show_images'] ?? true;
	}
?>
==
{% for post in blogPosts.posts %}

  <article class="rounded shadow bg-white my-4 p-4" itemscope itemtype="http://schema.org/BlogPosting">

    <h2 class="font-medium">
      <a class="link" href="{{ post.url }}" itemprop="url">
        <span itemprop="headline">{{ post.title }}</span>
      </a>
    </h2>

		<p class="text-sm mt-2">
      Posted
      {% if post.categories.count %} in
          <span itemprop="keywords">
          {% for category in post.categories %}
              <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
          </span>
      {% endif %}
      on <time itemprop="datePublished" datetime="{{ post.published_at|date('Y-m-d') }}">{{ post.published_at|date('M d, Y') }}</time>
      <!-- by <span itemprop="author">{{ post.user.full_name }}</span> -->
    </p>

		<div class="mt-2">
			{% if show_images and post.featured_images.count >= 1 %}
			<div class="featured-images text-center mb-4">
				{% for image in post.featured_images %}
				<p>
					<img
						data-src="{{ image.filename }}"
											src="{{ image.path }}"
											alt="{{ image.description }}"
											style="max-width: 100%" />
				</p>
				{% endfor %}
			</div>
			{% endif %}
			
			<p class="font-medium" itemprop="description">{{ post.excerpt }}</p>
		</div>

  </article>

{% endfor %}
