/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-lg;
}

@screen md {
    h1 {
	@apply text-5xl;
    }
    h2 {
	@apply text-3xl;
    }
    h3 {
	@apply text-xl;
    }
}

a {
    @apply text-blue-600 no-underline;
    &:hover
    {
	@apply underline text-secondary-600;
    }
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

.link-blank {
    @apply text-current;
    &:hover {
	@apply no-underline text-current;
    }
}

.link {
    &-black {
	@apply text-black;
	&:hover {
	    @apply text-black;
	}
    }
    &-gray {
	@apply text-gray-700 transition-colors duration-300 ease-in-out;
	&:hover {
	    @apply text-black;
	}
    }
    &-white {
	@apply text-white;
	&:hover {
	    @apply text-white;
	}
    }
    
}

.pagination {

    @apply flex;

    li > a, li > span {

	@apply text-center block w-8 h-8 border pt-px;
	
    }

    li:not(:last-child) {
	@apply mr-2;
    }

    li.active > span {
	@apply bg-blue-500 text-white;
    }
    
}

.prose {
    max-width: 100%;
}

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

/**
Alpinejs hide before init
*/
[x-cloak] { display: none; }

/**
Montserrat Font
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/**
Responsive video iframe
*/
.video-wrapper {
    position: relative;
    padding-top: 25px;
    margin-bottom: 15px;
    height: 0;
}

.video-wrapper.ratio-5-4 {padding-bottom: 80%;}
.video-wrapper.ratio-4-3 {padding-bottom: 70%;}
.video-wrapper.ratio-16-10 {padding-bottom: 62.5%;}
.video-wrapper.ratio-16-9 {padding-bottom: 56.25%;}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
}
