title = "Project"
url = "/projects/:slug"
layout = "default"
is_hidden = 0

[builderDetails projectDetails]
modelClass = "Ilcscience\Portfolio\Models\Project"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Project not found"
==
<?php
function onEnd()
{
	$this["project"] = $this->projectDetails->record;
  if (isset($this['project'])) {
    $this->page->title = $this->project->title;
    $this->page->description = $this->project->short_description;
    if ($this->project->thumbnail) {
      $this['metaImage'] = URL::to($this->project->thumbnail);
    }
  }
  else {
    return $this->controller->run('/404');
  }
}
?>
==
{% set displayColumn = projectDetails.displayColumn %}
{% set notFoundMessage = projectDetails.notFoundMessage %}

{% if record %}

<div class="flex flex-col items-center text-center">
	<h2 class="font-bold" itemprop="headline">{{ attribute(record, displayColumn) }}</h2>
	{% if project.short_description %}
	<p class="my-2" itemprop="description">{{ project.short_description }}</p>
	{% endif %}
</div>

<article class="mt-2 mx-auto prose lg:prose-xl bg-white rounded shadow py-4 px-8">
	
	<div class="my-4">
		{% if project.description %}
		{{ project.description|md }}
		{% endif %}
  </div>
	
</article>

{% else %}
{{ notFoundMessage }}
{% endif %}
