description = "Default layout"
==
<!DOCTYPE html>
<html class="h-full" lang="{{ this.theme.meta_lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% set title = this.page.id == 'home' ? this.theme.name : this.page.title ~ ' - ' ~ this.theme.name %}
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">

    {% set description = this.page.description ?: this.theme.whoami %}
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ this.page.title }}">
    <meta property="og:site_name" content="{{ this.theme.name }}">
    <meta property="og:url" content="{{ ''|page }}">
    <meta property="og:description" content="{{ description }}">

		{% if not metaImage %}
		{% set metaImage = this.theme.meta_image %}
		{% endif %}

    {% if metaImage %}
    <meta property="og:image" content="{{ metaImage }}">
    <link rel="image_src" href="{{ metaImage }}">
    {% endif %}

    <meta name="canonical" content="{{ ''|page }}">

    {% if this.theme.meta_author %}
    <meta name="author" content="{{ this.theme.meta_author }}">
    {% endif %}

    {% if this.theme.meta_icon %}
		<link rel="icon" type="image/png" sizes="16x16" href="{{this.theme.meta_icon}}" />
		{% endif %}

		<link rel="stylesheet" href="{{ 'assets/public/css/app.css'|theme }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		{% styles %}
  </head>
	<body class="h-full overflow-y-auto bg-gray-200">

		<div style="max-width: 1400px" class="mx-auto h-full" >

			{% partial 'header' %}

			<div class="w-full px-6 py-8 md:px-12">

				<div>
					{% page %}
				</div>
				
				<!-- <footer>
						 <ul class="">
						 {% for btn in this.theme.social_buttons %}

						 <li>
						 <a target="_blank" class="fa-{{ btn.fa }} pt-px text-xl text-white w-8 h-8 inline-block text-center no-underline rounded-full" href="{{ btn.href }}" style="background-color: {{ btn.color }};"></a>
						 </li>

						 {% endfor %}
						 </ul>
						 </footer> -->
			</div>
			
			<script src="{{ 'assets/public/js/app.js'|theme }}"></script>
			{{ scripts }}

  </body>
</html>
