title = "Blog Post"
url = "/blog/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/tag"
==
<?php
function onEnd()
{
  if (isset($this['post'])) {
    $this->page->title = $this->post->title;
    $this->page->description = $this->post->excerpt;

    if (count($this->post->featured_images) != 0) {
      $this['metaImage'] = URL::to($this->post->featured_images[0]->path);
    }
  }
  else {
    return $this->controller->run('/404');
  }
}
?>
==
{% set post = blogPost.post %}

<div class="flex flex-col items-center text-center">
	<h1 class="">
		<a href="{{ 'blog'|page }}">Blog/</a>Post/{{ this.page.title }}
	</h1>
</div>

<article class="mt-2 bg-white rounded shadow p-4" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="">

    <h1 class="" itemprop="headline">{{ post.title }}</h1>

		<div class="w-full">
			{% if post.featured_images.count >= 1 %}
			<div class="flex justify-start items-center w-full mt-4">
				{% for image in post.featured_images %}

				<img class="" src="{{ image.path|app }}" alt="{{ image.description }}" itemprop="image">

				{% endfor %}
			</div>
			{% endif %}
			
			{% if post.excerpt %}
			<p class="mt-4 text-gray-500" itemprop="description">{{ post.excerpt }}</p>
			{% endif %}

		</div>
		
		
  </header>

	{% if post.excerpt or post.featured_images.count >= 1 %}
	<hr class="my-4">
	{% endif %}

	<div class="my-4" itemprop="articleBody">
    {{ post.content_html|raw }}
  </div>

  <footer class="">

    <hr>

    <p class="mt-4">
        Posted
        {% if post.categories.count %} in
            <span itemprop="keywords">
              {% for category in post.categories %}
                  <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </span>
        {% endif %}
        on <time itemprop="datePublished" datetime="{{ post.published_at|date('Y-m-d') }}">{{ post.published_at|date('M d, Y') }}</time>
						<!-- by <span itemprop="author">{{ post.user.full_name }}</span> -->
    </p>

		<!--
    <div class="">

      <span class="">Share this post:</span>

      {% set url = ''|page|url_encode %}
      {% set title = post.title|url_encode %}

      {% set social = [
        [ 'facebook',    'Facebook',    'https://www.facebook.com/sharer/sharer.php?u=' ~ url],
        [ 'twitter',     'Twitter',     'https://twitter.com/home?status=' ~ url],
        [ 'reddit',      'Reddit',      'https://reddit.com/submit?url=' ~ url ~ '&amp;title=' ~ title],
        [ 'linkedin',    'LinkedIn',    'https://www.linkedin.com/shareArticle?url=' ~ url ~ '&amp;mini=true&amp;title=' ~ title ~ '&amp;summary=' ~ post.excerpt|url_encode ~ '&amp;source=' ~ url],
      ] %}

      {% for n in social %}

        <a class="no-underline text-2xl inline-block text-center w-4 h-4 text-{{ n[0] }} fa-{{ n[0] }}" href="{{ n[2]|raw }}" target="_blank" title="Share on {{ n[1] }}" aria-label="Share on {{ n[1] }}" role="button"></a>

      {% endfor %}

    </div>
		-->

  </footer>

</article>
